body {
  font-family: Cambria, sans-serif;
}

.notification {
  position: relative;
}
.notification .notification-content {
  display: none;
  position: fixed;
  text-align: center;
  background-color: chartreuse;
  /* width: 240px; */
  height: 40px;
  line-height: 40px;
  z-index: 9999999;
  transition: all 2s linear;
  color: white;
}

.user-manager {
  display: none;
}

.order-manager {
  display: none;
}

.btn-enhanced {  
  font-size: 16px; /* Tăng kích thước chữ */  
  padding: 10px 20px; /* Tăng khoảng cách bên trong */  
  border-width: 2px; /* Tăng độ dày của viền */  
  background-color: #fff; /* Màu nền của nút */  
  color: #28a745; /* Màu chữ */  
  transition: background-color 0.3s, transform 0.2s; /* Hiệu ứng khi di chuột */  
}  

.btn-enhanced:hover {  
  background-color: #218838; /* Màu nền khi di chuột */  
  transform: scale(1.05); /* Phóng to nút khi di chuột */  
}
